<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phantom.helper">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_HIGH_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="SMSReceiver">
            <intent-filter>
                        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                   </intent-filter>
        </receiver>
        <receiver android:name="GPSSender">
            <intent-filter>
                        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                   </intent-filter>
        </receiver>
    </application>

</manifest>
